/* Reset de estilos */
body {
  margin: 0;
  padding: 0;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #fc934b;
  padding: 3rem 0;
  position: relative; 
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  position: absolute; 
  top: 0; 
  left: 0; 
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fcd28e;
}

.section {
  padding: 2rem;
}

#inicio {
  background-color: #fcbc5b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: black;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  color: black;
  font-size: 18px; 
}

.big-button {
  padding: 15px 30px; 
  font-size: 20px; 
  border-radius: 20px; 
  cursor: pointer;
}

#sobre {
  background-color: #fcbc5b;
}

#sobre h2 {
  color: black;
  font-size: 24px; 
}

#contato {
  background-color: #fcb98f;
  color: white;
}

#contato h2 {
  color: white;
  font-size: 24px; 
}

footer {
  background-color: black;
  color: rgb(225, 194, 95);
  padding: 1rem;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
/* ... (código anterior) ... */

/* Estilos para a imagem da seção "Sobre" */
.image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative; 
}

.image img {
  width: 100%; 
  max-width: 400px; 
  border-radius: 10px; 
}

#sobre-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #fcbc5b;
  color: black;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .container {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  .logo {
    position: static;
    margin-bottom: 20px;
  }

  .image {
    display: none;
  }

  #sobre-button {
    position: static;
    transform: none;
  }
}

@media (max-width: 1200px) {
  .logo img {
    width: 80px;
  }
}